.center-home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
}

.text-center-home {
    font-size: 5rem;
    padding: 2rem 5rem;
    background-color: var(--color-accent);
}

.year-home {
    padding: .5rem 3rem;
    background-color: var(--color-secondary);
    color: var(--color-dark); 
    position: absolute;
    right: 560px;
    top: 300px;
    transform: rotate(10deg) !important;
}

.progress-bar {
    width: 42.6rem;
    height: 10px;
    background-color: rgba(0, 0, 0, .125);
    position: absolute;
    overflow: hidden;
    margin-top: 20px;
    top: 461px;
    left: 50%;
    transform: translateX(-50%);
}

.progress-bar-inner {
    height: 100%;
    background-color: var(--color-primary);
    width: 0;
    transition: width 3s linear;
}

.card {
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.image-menu {
    width: 100%;
    height: 270px;
    object-fit: cover;
    border-radius: 100%; 
}

.mt-6 {
    margin-top: 5rem;
}

.card-title {
    color: var(--color-dark);
}

.btn-primary {
    background-color: var(--color-accent);
    border: none;
}

.btn-primary:hover {
    background-color: var(--color-accent-hover);
}

.custom-dropdown {
    width: 500px;
    padding: 10px 30px;
}

.custom-dropdown .dropdown-item {
    padding: 10px 20px;
}

.input-group {
    display: flex;
    align-items: center;
}

.input-group .form-control {
    max-width: 60px;
    text-align: center;
}

.input-group .btn {
    min-width: 40px;
}

@media (max-width: 768px) {
    .text-center-home {
        font-size: 2.5rem;
        padding: 1rem 2rem;
    }

    .year-home {
        right: 20px;
        top: 345px;
        padding: .5rem 1.5rem;
    }
    h6{
        font-size: 10px;
    }
    .w-25{
        width: 50% !important;
    }
}

    .progress-bar {
        width: 20.3rem;
        height: 5px;
        top: 430px;
        left: 50%;
        transform: translateX(-50%);
    }

